<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Document</title>
</head>
<body>
<p>Write a letter for someone in somewhere in the world. English is preferable</p>
<p>RULE</p>
<ul>
    <li>Do not write you personal information</li>
    <li>Do not write anything that can hurt people's feeling</li>
</ul>
<p>You have no idea what to write? Here are some recommendations.</p>
<ul>
    <li>Where are you from?</li>
    <li>What is it like to live in the region of your country?</li>
    <li>What is it something that is unique to people from your country?</li>
</ul>
<form action="/send" method="post">
        <textarea id="letter" name="letter" required placeholder="Write here!" cols="75" rows="25"></textarea>
        <input type="submit" value="SEND">
    </form>
</body>
</html>