<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Document</title>
</head>
<body>
{{if .}}
<p>{{.}}</p>
{{end}}
<h1>ログイン</h1>
<form action="/login" method="post">
    <label>Eメール</label>
    <input type="email" name="email" />
    <label>パスワード</label>
    <input type="password" name="password"/>
    <input type="submit" />
</form>
<form action="/logout" method="POST">
    <input type="submit" value="logout">
</form>
<a href="/enter">新規作成</a>
</body>
</html>