<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>World Lettering</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
</head>
<body>
<h3>Letters you have sent in the past.</h3>
<div>
    {{if .}}
    {{range $index, $content := .}}
    <div style="position:relative; max-width: 500px; background-color: #fff; display: block; margin: 15px auto 0 auto; box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16); padding: 60px 0; color: #2c2c2c;">
        {{$content}}
    </div>
    {{end}}
    {{else}}
    <p>I guess you haven't sent any letter yet</p>
    {{end}}
</div>
</body>
</html>