<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>World Lettering</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
</head>
<body>
{{if .}}
    <p>{{.}}</p>
{{end}}
<h1>New Account Creation</h1>
<form action="/register" method="post">
    <div>
        <label>Email</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label>Passcode</label>
        <input type="password" name="password"/>
    </div>
    <input type="submit" />
</form>
<a href="/signin">I already have an account</a>
</body>
</html>