<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>World Lettering</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
</head>
<body>
{{if .}}
<p>{{.}}</p>
{{end}}
<h1>Login</h1>
<form action="/login" method="post">
    <label>Email</label>
    <input type="email" name="email" />
    <label>Password</label>
    <input type="password" name="password"/>
    <input type="submit" />
</form>
<div>
    <a href="/signup">Create a new account</a>
</div>
</body>
</html>